[Unit]
Description=Cloud-watch agent Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=on-failure
RestartSec=5
ExecStart= /opt/configCloudWatchAgent.sh

[Install]
WantedBy=multi-user.target