[Unit]
Description=Cloud-watch agent Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart= /opt/configCloudWatchAgent.sh

[Install]
WantedBy=multi-user.target